/* popup container */
.popup{
    position:relative;
    display: inline-block;
    cursor: pointer;
    inset: 0;
    top:-20vh;
}
/* the actual popup (appears on top) */
.popup .popuptext{
    visibility:hidden; 
    /* width: 160px; */
    /* background-color:rgba(245, 245, 245, 0.538); */
    color: #000;
    background-color:white;
    inset: 0;
    top: 70vh;
     left: -25%; 
    transform: translate(-50%,-50%);
    height: 400px;
    text-align: center;
    border-radius: 6px;
    width: 280px;
    /* height: 13vh; */
    padding:8px 0;
    position: absolute;
    z-index: 1;
    bottom:125%;
    /* left:50%; */
    margin-left:-80px;
}
/* popup arrow */
 .popup .popuptext::after{
    /* content: ""; */
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555  transparent transparent transparent ;

} 
/* toggle this class when clicking on the popup container(hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; 


}
/* add animation (fade in the popup) */
@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
#span1{
    font-weight: bold;
    font-size: 26px;
    margin-top: 7vh;
    margin-bottom: 2vh;
}
#span2{
    font-size: small;
    color:rgb(181, 161, 161);
    margin-bottom: 6vh;
    margin-top: 2vh;
}
#span3{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#popup-first-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    border-bottom-right-radius: 7px;
    border-style: none;
    color: #fff;
    background: red;
}
#popup-second-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    border-bottom-right-radius: 7px;
    border-style: none;
    color: #fff;
    background: red;
}



/* popup container */
.popup2{
    display: flex;
    /* position: relative; */
    /* display: inline-block; */
    cursor: pointer;
    inset: 0;
    top:-20vh;
    
}
/* the actual popup (appears on top) */
.popup2 .popuptext2{
      visibility:hidden; 
    /* width: 160px; */
    /* background-color:rgba(245, 245, 245, 0.538); */
    color: #000;
    background-color:white;
    inset: 0;
    /* top: 30vh; */
    top:0;
     left: 50%; 
     transition: transform 0.4s,top 0.4s;
    transform: translate(-50%,-50%)  scale(0.1);
    height: 300px;
    text-align: center;
    border-radius: 6px;
    width: 280px;
    /* height: 13vh; */
    padding:8px 0;
    position: absolute;
    z-index: 1;
    bottom:125%;
    /* left:50%; */
    margin-left:-80px;
}
#talent-join-pool-sign-up{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    border-bottom-right-radius: 7px;
    border-style: none;
    color: #fff;
    background: red;
}
/* popup arrow */
 .popup2 .popuptext2::after{
    /* content: ""; */
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555  transparent transparent transparent ;

} 
.popup2 .show2 {
    visibility: visible;
    /* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;  */
    top: 70%;
    left: 65%;
transform: translate(-50%,-50%) scale(1);

}
.popup2 .show3{
    visibility: hidden;
} 
/* add animation (fade in the popup) */
@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
#span-one{
    font-weight: bold;
    font-size: 33px;
    margin-top: 7vh;
    margin-bottom: 2vh;
}
#span-two{
  font-size: small;
    color:rgb(181, 161, 161);
    margin-bottom: 6vh;
    margin-top: 2vh;   
}
.popup3{
   position:relative;
    display: inline-block;
    cursor: pointer;
    inset: 0;
    top:-20vh; 
}
.popup3 .popuptext3{
      visibility:hidden; 
    /* width: 160px; */
    /* background-color:rgba(245, 245, 245, 0.538); */
    color: #000;
    background-color:white;
    inset: 0;
    /* top: 30vh; */
    top: 0;
     left: 50%; 
     transition: transform 0.4s,top 0.4s;
    transform: translate(-50%,-50%)  scale(0.1);
    height: 300px;
    text-align: center;
    border-radius: 6px;
    width: 280px;
    /* height: 13vh; */
    padding:8px 0;
    position: absolute;
    z-index: 1;
    bottom:125%;
    /* left:50%; */
    margin-left:-80px;
}
.popup3 .popuptext3::after{
    /* content: ""; */
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555  transparent transparent transparent ;

} 
.popup3 .show3 {
    visibility: visible;
    /* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;  */
    top: 50%;
transform: translate(-50%,-50%) scale(1);

}
